@model SocialMediaCreateVM
@{
    ViewData["Title"] = "Create media type";
}
@section Style
    {
    <link rel="stylesheet" href="~/style.css">
}

<div class="wrapper">
    <form method="post">
        <div class="input-box">
            <input asp-for="Link" placeholder="Enter link" required>
            <span asp-validation-for="Link"></span>
        </div>
        <div class="input-box">
            <select class="form-control" asp-for="SocialMediaTypeId" asp-items='ViewBag.Types'>
                <option disabled selected>Select category</option>
            </select>
            <span asp-validation-for="SocialMediaTypeId"></span>
        </div>
@*         <div class="input-box">
            <select class="form-control" asp-for="AppUserId" asp-items='@new SelectList(ViewBag.Users, "Id" , "Name")'>
                <option disabled selected>Select category</option>
            </select>
            <span asp-validation-for="AppUserId"></span>
        </div> *@
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-box button">
            <input type="Submit" value="Create">
        </div>
    </form>
</div>